 Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

README.html

effective-pom.xml

*.o
/scomp/applications-files-bot/.Trash-1000/

*.gz
/.vscode/
/.vs/
*.db
*.log
*.exe
*.jar
*.class
